<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/docDashPatients.css">
</head>
<body>
    
    <div class="body-container">

        <div class="body-aside-left">
            <ul class="upper-nav-body">
                <li><i class="fa fa-heartbeat" aria-hidden="true"><h2>TruHealth</h2></i></li>
                <li class="other"><a href="./doctor">Home</a></li>
                <li class="current"><a href="">Patients</a></li>
                <li class="other"><a href="">Schedule</a></li>
            </ul>
            <ul class="lower-nav-body">
                <li>Log Out</li>
            </ul>
        </div>

        <div class="main-body">

            <div class="upper-main-body">
                <i class="">icon</i>
                <h3>Doctor Name</h3>
            </div>

            <div class="lower-main-body">
                <div class="lower-main-body-left">
                    <h3>Upcoming Appointments</h3>
                    <hr>
                    <div class="patients-list-body">
                        <div class="patient">
                            <div class="patient-info">
                                <h3><a href="./docDashPatient_PatientInfo">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
    
                        <div class="patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
    
                        <div class="patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                    </div>
    
    
                    <h3 class="patient-heading">Patients</h3>
                    <hr>
    
                    <div class="patients-list-body">
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                        <div class="x-patient">
                            <div class="patient-info">
                                <h3><a href="">Patients Name</a></h3>
                                <p>Gender</p>
                            </div>
    
                            <div class="patient-info">
                                <p>email@gmail.com</p>
                                <p>7003456754</p>
                            </div>
    
                            <div class="patient-info">
                                <h4>Date</h4>
                                <h4>Time</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lower-main-body-right">
                    <a href=""><h3>pr</h3></a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>