<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboarddoctor.css">
</head>
<body>
    <div class="body-container">
        <div class="body-aside-left">
            <ul class="upper-nav-body">
                <li><i class="fa fa-heartbeat" aria-hidden="true"><h2>TruHealth</h2></i></li>
                <li class="current"><a href="#">Home</a></li>
                <li class="other"><a href="./docDashPatients">Patients</a></li>
                <li class="other"><a href="">Schedule</a></li>
            </ul>
            <ul class="lower-nav-body">
                <li>Log Out</li>
            </ul>
        </div>
        <div class="body-main">
            <div class="upper-body-main">
                <i class="">icon</i>
                <h3></h3>
            </div>
            <div class="lower-body-main">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus impedit magnam aliquid sequi deleniti nobis illo sit, ea explicabo harum quod esse magni est dignissimos corrupti asperiores! Eos exercitationem dicta maxime sed blanditiis quae, sapiente, temporibus perspiciatis expedita quam asperiores. Minima asperiores amet corrupti consequuntur quibusdam vitae blanditiis architecto minus.
            </div>
        </div>
        <div class="body-aside-right">
            <h3>pr</h3>
        </div>
    </div>
</body>
</html>