<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/logindoctor.css">
</head>
<body>
    <div class="form-body">
        <h2>Patient Login</h2>
        <form action="/loginPatient/patient" method="POST">
            <label for="patName">Name :
                <input type="text" name="patName" value="" required id="patName">
            </label>
            <label for="patPassword">Password :
                <input type="password" name="patPassword" value="" id="patPassword" required>
            </label>
            <button type="submit">Login</button>
            <a href="/register/patient">Register</a>
        </form>
    </div>
</body>
</html>