<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container-upper">

            <div class="nav-container">

                <div class="nav-title"><i class="fa fa-heartbeat" aria-hidden="true"><h2>TruHealth</h2></i></div>
                <ul class="nav-bar">
                    <li><a class="home" href="#">Home</a></li>
                    <li><a class="doctor" href="/register/doctor">Doctor</a></li>
                    <li><a class="patient" href="/register/patient">Patient</a></li>
                </ul>

            </div>

            <div class="uppertag-container">

                <h1 class="tag-heading">Doctor Consultation</h1>
                <p>With Your Nearest Doctor</p>

            </div>

            <div class="options-container">

                <div class="option1">
                    <h3>Doctors</h3>
                    <p>Book an appointment</p>
                </div>

                <div class="option2">
                    <h3>Consult</h3>
                    <p>with Top Doctors</p>
                </div>

            </div>

        </div>

        <div class="container-lower">

            <div class="images-container">
                <img class="image1" src="/images/image1.jpg" alt="">
                <img class="image2" src="/images/doctorconsultant.jpg" alt="" >
                <img class="image3" src="/images/image3.jpg" alt="">
            </div>

            <h1 class="lowertag-container">Consult Top Doctors Online for any Health Concern</h1>

            <div class="health-concerns-list">

                <div data-aos="fade-up" class="concern pediatrician">
                    <img class="pediatrician-image" src="/images/concernP.jpg" alt="">
                    <h3>Pediatrician</h3>
                </div>

                <div data-aos="fade-up" class="concern gynaecology">
                    <img class="gynaecology-image" src="/images/concernG.jpg" alt="">
                    <h3>Gynaecology</h3>
                </div>

                <div data-aos="fade-up" class="concern dermatology">
                    <img class="dermatology-image" src="/images/concernD.jpg" alt="">
                    <h3>Dermatology</h3>
                </div>

                <div data-aos="fade-up" class="concern cardiology">
                    <img class="cardiology-image" src="/images/concernC.jpg" alt="">
                    <h3>Cardiology</h3>
                </div>

            </div>

        </div>

        <footer>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </footer>
    </div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 200,
        duration : 1000
    });
  </script>
</html>